.appear {
    visibility: hidden;
}

.appearDone {
    visibility: hidden;
}

.enter {
    visibility: visible;
}

.enterActive {
    visibility: hidden;
    transition: visibility 0.1s;
}

.enterDone {
    visibility: hidden;
}

.exit {
    visibility: hidden;
}

.exitActive {
    visibility: visible;
    transition: visibility 0.1s;
}

.exitDone {
    visibility: visible;
}