.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.projects img {
    min-height: 0;
    min-width: 0;
    height: 12rem;
}

.projectsItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsItem hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

/* CSS for mobile screens */
@media screen and (max-width: 600px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

}