.skillGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 2rem;
}

@media screen and (max-width: 600px) {
    .skillGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
    }
}
